<%= render 'shared/landing/banner_content' %>

<hr></hr>

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
  <div class="article-box">
    <div class="mag-inner">
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12 mag-innert-left">
      <div class="banner-bottom-left-grids">
        <div class="single-left-grid">
          <h1 class= "size-text" ><%= @decorated_article.headline %></h1>
          <h2 class= "size-text" ><small><%= @decorated_article.lead %></small></h2>
          <br>
          <button type="button"  data-toggle="modal" data-target=".bd-example-modal-lg">
            <div class="image-box">
              <div class="image-counter"><i class="glyphicon glyphicon-camera"></i>   <%= @decorated_article.images.count %></div>
              <%= image_tag @decorated_article.first_image, class: "img-responsive" %>
            </div>
          </button>
          <br>
          <p class="article"><%= @decorated_article.body %></p>
          <br>
          <%= @decorated_article.contributor %>
          <br>
          <% if @decorated_article.has_source_url? %>
            <strong>Fuente:</strong> <%= link_to "#{@decorated_article.source_url}", @decorated_article.source_url, class: 'size-text' %>
          <% end %>
        </div>
      </div> 
      <%= social_share_button_tag(@decorated_article.headline,  :image => image_url(article_path(@decorated_article.first_image)), :'data-type' => 'photo') %>

      <a href="whatsapp://send?text=<%= request.original_url %>" id= "wsp"><i class="fa fa-whatsapp" id="whatsapp"></i></a>

      <div class="fb-share-button" data-href="https://buenaondaweb.com/articles/<%= @decorated_article.id %>" data-layout="button" data-size="large" data-mobile-iframe="true">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbuenaondaweb.com%2Farticles%2F7&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a>
      </div>

    </div>
  </div>
  <%= render 'gallery_modal', images: @decorated_article.images %>
</div>

<%= render 'shared/landing/banner_rigth'%>
