<div class="cl-sidebar">
  <div class="cl-toggle">
    <i class="fa fa-bars"></i>
  </div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <%= link_to editor_root_path do %>
          <div class="sidebar-logo">
            <div class="logo text-center">
            <%= image_tag 'logo.png' %>
            </div>
          </div>
        <% end %>
        <div class="side-user">
          <div class="info">
            <p>
              <i class="fa fa-user"></i>
              Panel de Editor
            </p>
          </div>
        </div>
        <ul class="cl-vnavigation">
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Articulos</span>
            </a>
            <ul class="sub-menu">
              <li class="">
                <%= link_to "Lista de Articulos", editor_articles_path %>
              </li>
              <li>
                <%= link_to "Nuevo Articulo", new_editor_article_path %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Autores</span>
            </a>
            <ul class="sub-menu">
              <li class="">
                <%= link_to "Lista de Autores", editor_authors_path %>
              </li>
              <li>
                <%= link_to "Nuevo Autor", new_editor_author_path %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
