<%= form_with(model: [:admin, banner], local: true) do |form| %>

  <% if banner.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2><%= pluralize(banner.errors.count, "error impidio", "errores impidieron") %> que este banner se guardara:</h2>
      <ul>
        <% banner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Posición" %>
    <%= form.select :position, enum_options_for_select(Banner, :position) %>
  </div>

  <div class="form-group">
    <%= form.label "Link" %>
    <%= form.text_field :link, class: 'form-control' %>
  </div>

  <%= form.fields_for :image do |img_form| %>
    <div class="form-group">
      <%= img_form.label :picture, 'Imagen' %>
      <%= img_form.file_field  :picture, id: "files" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Guardar'%>
  </div>
<% end %>
