<% if notice %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Posición:</strong>
  <%= t(@banner.position) %>
</p>
<p>
  <strong>Banner:</strong>
  <div>
    <%= image_tag(@banner.image.picture, class: "img-admin-show") %>
  </div>
</p>

<%= link_to 'Editar', edit_admin_banner_path(@banner) %> |
<%= link_to 'Regresar', admin_banners_path %>
