<%= form_with(model: [ :admin, article ], local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> impidieron que este artículo se guardara:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Título (Obligatorio)" %>
    <%= form.text_field :headline, class: 'form-control',:maxlength => 100 %>
  </div>

  <div class="form-group">
    <%= form.label "Copete (Obligatorio)" %>
    <%= form.text_field :lead, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Cuerpo (Obligatorio)" %>
    <%= form.text_area :body, class: 'form-control tinymce', rows: 40, cols: 12 %>
  </div>

  <div class="form-group">
    <%= form.label "Sección (Obligatorio)" %>
    <%= form.select :section_id, sections_for_select, { include_blank: "Seleccionar Sección" }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Colaborador (Opcional)" %>
    <%= form.text_field :contributor, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "URL Fuente (Si es que corresponde)" %>
    <%= form.text_field :source_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Imágenes (Al menos una)" %>
    <%= form.fields_for :images do |g| %>
        <%= render 'image_fields', f: g %>
        <%= link_to_add_association 'Agregar Imagen', form, :images, class: "btn btn-success links" %>
    <% end %>
  </div>

  <div class="form-group">
    <center><%= form.label "Publicar?" %></center>
    <%= form.check_box :published, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
