<p id="notice"><%= notice %></p>

<h1>Artículos</h1>

<table>
  <thead>
    <tr>
      <th><strong>Titulo</strong></th>
      <th><strong>Copete</strong></th>
      <th><strong>Sección</strong></th>
      <th><strong>Autor</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.headline %></td>
        <td><%= article.lead %></td>
        <td><%= article.section_name %></td>
        <td><%= article.author ? article.author_name : 'Anónimo'  %></td>
        <td><%= link_to 'Ver', editor_article_path(article) %></td>
        <td><%= link_to 'Editar', edit_editor_article_path(article) %></td>
        <td><%= link_to 'Eliminar', editor_article_path(article), method: :delete, data: { confirm: 'Está Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Artículo', new_editor_article_path %>
