<div class="header" id="home">
   <div class="content white">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo-header">
            <%= link_to image_tag('logoColor.png'), root_path, class: "navbar-brand" %>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Tapa', root_path %></li>
            <% Section.with_articles.each do |section| %>
              <li><%= link_to section.name, articles_section_path(section) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <% weather = WeatherService.new().GetWeather %>
  <p><%= image_tag("http://openweathermap.org/img/w/#{weather[:image]}.png")%></p>
  <p>min:<%= weather[:temp_min] %>°C</p>
  <p>max:<%= weather[:temp_max] %>°C</p>
  <p>Humedad:<%= "#{weather[:humidity]}" %>%</p>

</div>
