<%= form_with(model: [ :editor, author ], local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> impidieron que este autor se guardara:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Apellido" %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Email" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Autor" %>
  </div>
<% end %>
