<p id="notice"><%= notice %></p>

<h1>Autores</h1>

<table>
  <thead>
    <tr>
      <th><strong>Nombre Completo</strong></th>
      <th><strong>Email</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.full_name %></td>
        <td><%= author.email %></td>
        <td><%= link_to 'Ver', editor_author_path(author) %></td>
        <td><%= link_to 'Editar', edit_editor_author_path(author) %></td>
        <td><%= link_to 'Eliminar', editor_author_path(author), method: :delete, data: { confirm: 'Está Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Autor', new_editor_author_path %>
