<%= form_with(model: [ :admin, section ], local: true) do |form| %>
  <% if section.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2><%= pluralize(section.errors.count,"error impidio", "errores impidieron") %> que esta sección se guardara:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
