<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Copete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.headline %></td>
        <td><%= article.lead %></td>
        <td><%= link_to 'Show', editor_article_path(article) %></td>
        <td><%= link_to 'Edit', edit_editor_article_path(article) %></td>
        <td><%= link_to 'Destroy', editor_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_editor_article_path %>
