<p id="notice"><%= notice %></p>

<p>
  <strong>Sección:</strong><br>
  <%= @decorated_article.section_name %>
</p>

<p>
  <strong>Colaborador:</strong><br>
  <%= @decorated_article.contributor %>
</p>

<p>
  <strong>Título:</strong><br>
  <%= @decorated_article.headline %>
</p>

<p>
  <strong>Copete:</strong><br>
  <%= @decorated_article.lead %>
</p>

<p>
  <strong>Cuerpo:</strong><br>
  <%= @decorated_article.body %>
</p>

<p>
  <strong>Fuente:</strong><br>
  <%= link_to "#{@decorated_article.source_url}", @decorated_article.source_url %>
</p>

<p>
  <strong>Aprobado?</strong><br>
  <%= @decorated_article.is_published? %>
</p>

<%= link_to 'Editar', edit_editor_article_path(@article) %> |
<%= link_to 'Volver', editor_articles_path %>
