<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-1">
    <strong><%= @article.section_name %></strong>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1><strong><%= @article.headline %></strong></h1>
    <h3><%= @article.lead %></h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
  <% if @article.image.present? %>
    <%= filestack_image @article.image.filepicker_url %>
  <% end %>
    <p><small><%= @article.image.filename %></small></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><%= @article.body %></p>
  </div>
</div>
<p>
  <strong>Autor: </strong><%= @article.author ? @article.author_full_name : 'Anónimo' %>
</p>


<p>
</p>

<%= link_to 'Editar', edit_editor_article_path(@article) %> |
<%= link_to 'Volver', editor_articles_path %>
