<p id="notice"><%= notice %></p>

<p>
  <strong>Sección:</strong><br>
  <%= @article.section_name %>
</p>

<p>
  <strong>Autor:</strong><br>
  <%= @article.author ? @article.author_name : 'Anónimo' %>
</p>

<p>
  <strong>Título:</strong><br>
  <%= @article.headline %>
</p>

<p>
  <strong>Copete:</strong><br>
  <%= @article.lead %>
</p>

<p>
  <strong>Cuerpo:</strong><br>
  <%= @article.body %>
</p>

<p>
  <% if @article.image.present? %>
    <strong>Imagen:</strong>
    <%= filestack_image @article.image.filepicker_url, transform: filestack_transform.resize(width: 100, height: 100) %>
  <% end %>
</p>

<%= link_to 'Editar', edit_editor_article_path(@article) %> |
<%= link_to 'Volver', editor_articles_path %>
