<div class="col-lg-12" id="conteiner-carrousel">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% art_to_carousel = @carrousel_articles.first(3) %>
        <div class="item active">
          <div class="col-xs-12 col-sm-6 col-lg-8 img-size">
            <%= image_tag art_to_carousel.first.first_image %>
          </div>
          <div class="col-xs-6 col-lg-4">
            <h5 class="uno"><%= art_to_carousel.first.section.name %></h5>
            <h1 class="dos"><%= link_to art_to_carousel.first.headline, article_path(art_to_carousel.first), class: 'link-color' %>
            </h1>
          </div>
        </div>

        <% art_to_carousel.last(2).each do |a|%>
          <div class="item">
            <div class="col-xs-12 col-sm-6 col-lg-8 img-size">
              <%= image_tag a.first_image %>
            </div>
            <div class="col-xs-6 col-lg-4">
              <h5 class="uno"><%= a.section.name %></h5>
              <h1 class="dos"><%= link_to a.headline, article_path(a), class: 'link-color' %>
              </h1>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
