<div class="col-lg-12" id="conteiner-carrousel">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-lg-8 col-sm-8 art-img">
            <%= image_tag @carrousel_articles.first.first_image, class: "img-size" %>
          </div>
          <div class="col-lg-4 col-sm-4 art-info">
            <h5 class="uno"><%= @carrousel_articles.first.section.name %></h5>
            <p class="dos"><%= link_to @carrousel_articles.first.headline, article_path(@carrousel_articles.first), class: 'link-color' %>
            </p>
            <div class="line">_______</div>
            <p class="tres"><%= @carrousel_articles.first.lead %></p>
          </div>
        </div>

        <% @carrousel_articles.except(@carrousel_articles.first).each do |a|%>
          <div class="item">
            <div class="col-lg-8 col-sm-8 art-img">
              <%= image_tag a.first_image, class: "img-size" %>
            </div>
            <div class="col-lg-4 col-sm-4 art-info">
              <h5 class="uno"><%= a.section.name %></h5>
              <p class="dos"><%= link_to a.headline, article_path(a), class: 'link-color' %>
              </p>
              <div class="line">_______</div>
              <p class="tres"><%= a.lead %></p>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
