<div class="container">
  <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-12 col-xs-12">
    <div class="form-signin">
      <h2 class="form-signin-heading text-center">Diario - Ingreso</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: :password, class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="text-center"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
