<!DOCTYPE html>
<html>
  <head>
    <title>Base CMS</title>
    <%= csrf_meta_tags %>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css' >
    <link   href='https://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="cl-wrapper">
      <%= render 'shared/sidebar' %>

      <div id="pcont" class="container-fluid">
        <%= render 'shared/navbar' %>

        <div class="cl-mcont">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
