<!DOCTYPE html>
<html>
  <head>
    <title>Diario</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>Diario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--/script-->
    <script type="text/javascript">
          jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
          });
    </script>
  </head>
  <body>
    <%= render 'shared/landing/header' %>
    <%= yield %>

    <%= render 'shared/landing/banner_content' %>

    <%= render 'shared/landing/footer' %>
  </body>
</html>
