<!DOCTYPE html>
<html>
  <head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111245883-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111245883-1');
  </script>
    <title>Diario</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'landing', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <title>Diario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <%= render 'shared/landing/header' %>
    <div class="initial-content">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/landing/footer' %>
  </body>
</html>
