<!DOCTYPE html>
<html>
  <head>
    <title>Diario</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <title>Diario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <%= render 'shared/landing/header' %>
    <div class="article-content">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/landing/footer' %>
  </body>
</html>
